*{
    margin:0;
    padding:0;
    
}
.container{
    min-height: 100vh;
    width: 100%;
    background-image:url("images/poster2.gif");
    background-size: contain;
    background-position: center;
    position: relative;
}
#logo{
    height: 140px;
    width: 200px;
}
nav{
    width: 100%;
    height: 80px;
    position: fixed;
    display:flex;
    background-color: rgba(194, 188, 188,0.2);
}
a::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition:0.5s;
}
a:hover::after{
    width:100%;
}
.well{
    position: absolute;
    width: 40%; 
    top:47%;
    left: 79%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: deeppink;
}
.str{
    display: inline-block;
    text-decoration: none;
    color: deeppink;
    border: 1px solid deeppink;
    padding: 15px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.str:hover{
    background-color: deeppink ;
    color: white;
    transition: 0.5s;
}
#videoContainer {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 600px;
  height: 470px;
  border-radius: 20px;
  border: 4px solid transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.correct-glow {
  border-color: #00ff88;
  box-shadow: 0 0 25px #00ff88, 0 0 50px #00ff88;
}

.incorrect-glow {
  border-color: #ff3c3c;
  box-shadow: 0 0 25px #ff3c3c, 0 0 50px #ff3c3c;
}
